*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./img/inicio2.png");
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-attachment: fixed;
    overflow: hidden;
}

.inicio{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 40px; 
}

.moldura{
    width: 500px;
    margin-top: -40px;
}

/* texto dentro da moldura */
.titulo{
    position: absolute;
    font-family: "Freckle Face", cursive;
    font-size: 65px;
    color: #b46a91;
    align-items: flex-start;
    padding-top: 135px;
}

.botoes{
    position: absolute;
    top: 680px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 120px;
}

.botoes a{
    background-color: #b08968;
    color: #5d4037;
    font-family: "Freckle Face", cursive;
    font-size: 30px;

    padding: 15px 60px;
    border-radius: 1000px;

    text-decoration: none;
    display: inline-block;
}

.sobre a{
    position: absolute;
    top: 50px;
    left: 85%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    gap: 120px; 

    background-color: #b08968;
    color: #5d4037;
    border: 1.5px solid #703350;
    font-family: "Freckle Face", cursive;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 1000px;
    text-decoration: none;
    z-index: 999;
}